doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title online sevice
    link(rel='stylesheet', href='clone.css')
    link(rel='stylesheet', media='screen and (max-width: 700px)', href='phone1.css')
  body
    form(action='backend.php')
      header
        nav#navbar
          #imga-1
            img(src='logo 1.jpg', alt='loading error....')
          .info
            ul
              li#info-1.item
                a(href='#home') Home
              li#info-2.item
                a(href='#service') Service
              li#info-3.item
                a(href='#client') Client
              li#info-4.item
                a(href='#contact') Contact Us
        section#home
          #home-box
            h2 Welcome to MyOnlineMeal
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga at labore obcaecati similique rerum
              | ab non,modi eaque expedita, laboriosam porro ea fugit ipsa dignissimos autem fugiat vitae?
              | Laboriosam quas facilis, consectetur
            button.button Order Now
      section#service
        #service-box1
          h1 Our Service
        #service-box2
          .centre.service-sub-box
            img(src='logo2.png', alt='')
            h1 Food Catering
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus praesentium architecto omnis
              | cupiditate libero consequatur soluta optio temporibus voluptatem nisi repellat sunt modi harum
              | ipsa,
              | perspiciatis velit molestiae, non iure rerum unde vitae perferendis impedit enim magni? Commodi,
              | numquam libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere assumenda vero
              | delectus ea voluptatibus ipsa at aut minus? Eligendi architecto ipsum dicta accusantium sit
              | earum
              | velit assumenda! Recusandae, facere error.
          .centre.service-sub-box
            img(src='logo3.png', alt='')
            h1 Bulk Ordering
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel, ipsam exercitationem,
              | pariatur
              | atque culpa a dolores perferendis aspernatur perspiciatis explicabo amet maiores nihil, nam hic
              | rerum quo sequi qui animi asperiores excepturi. Iusto, ab. Iusto aspernatur libero temporibus
              | placeat! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto nesciunt officia modi
              | nihil
              | corrupti eaque, cupiditate aperiam, magni aliquid nobis maxime dolores adipisci, ducimus
              | perferendis
              | dolorem. Quasi eos deleniti qui.
          .centre.service-sub-box
            img(src='logo4.jpg', alt='')
            h1 Food Ordering
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati at, temporibus, natus
              | dignissimos
              | quidem minus consequatur commodi eum numquam assumenda, a libero tenetur error. Enim, maxime
              | minus
              | molestias modi, pariatur eligendi ullam neque ex, atque obcaecati eos natus exercitationem
              | perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corporis
              | explicabo
              | autem voluptate repellendus, ad, maiores accusantium adipisci minus expedita provident ullam
              | neque
              | harum earum aliquam officiis quas, enim cum!
      section#client.centre
        #client-box1
          h1 Our client
        #client-box-2
          img(src='logo 1.jpg', alt='')
          img(src='logo2.png', alt='')
          img(src='logo3.png', alt='')
          img(src='logo4.jpg', alt='')
      section#contact
        #contact-box.centre
          div
            h1 Contact Us
          .yourinfo
            label(for='name') Name
            input#name(type='name', name='myname', placeholder='Enter your Name')
          .yourinfo
            label(for='email') Email
            input#email(type='email', name='myemail', placeholder='Enter your Email')
          .yourinfo
            label(for='phone') Phone Number
            input#phone(type='phone', name='myphone', placeholder='Enter your phone Number')
          .yourinfo
            label(for='message') Comment
            textarea#message(name='message')
          .yourinfo
            input(type='submit', value='submit')
        footer
          .centre
            | Copyright &copy; www.myOnlineMeal.com. All rights reserved!