<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include style.css

</head>

<!-- <body>
    <p>
        | #{content}
        |
        | is very important part to render contant
    </p> -->
    <nav>
        <ul><a href="">Home</a></ul>
        <ul><a href="">service</a></ul>
        <ul><a href="">logout</a></ul>
    </nav>
        <h1>Welcome to our GYM</h1>
</body>

</html>