<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include style.css

</head>
<body>
    <nav>
        <ul><a href="/">Home</a></ul>
        <ul><a href="/">service</a></ul>
        <ul><a href="/">logout</a></ul>
    </nav>
        <h1>Welcome to our GYM</h1>
    <form action="/" method="post" id="contact">
        div 
            h3(class="same") name 
            <input type="text" name="name" id="text" placeholder="Enter your name">
        div 
            h3(class="same")  Email 
            <input type="email" name="email" id="email" placeholder="Enter your Email">
        div 
            h3(class="same")  Gender 
            <input type="gender" name="gender" id="gender" placeholder="Enter your gender">
        div 
            h3(class="same")  Address
            <textarea name="address" id="address" cols="50" rows="5" placeholder="Enter your address"></textarea>
        div 
            h3(class="same")  Health
            <textarea name="health" id="health" cols="50" rows="5" placeholder="Enter your health status"></textarea>
        div 
            <button class="btn">submit</button>
    </form >
</body>

</html>