* {
    padding: 0px;
    margin: 0px;
}

h1 {
    display: block;
    margin: auto;
    padding: 23px;
    text-align: center;
    color: red;
}
.same{
    text-align: center;
    justify-content: center;
    align-items: center;
}
div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: black;
    border-radius: 18px;
    font-size: 20px;
    cursor: pointer;

}
nav ul{
    margin: 8px;
    padding: 12px 8px;
    flex-direction: row;
}
a:hover{
    background-color: white;
    color: black;
}
nav{
    display: flex;
    background-color: black;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body::before{
    content: "";
    position: absolute;
    top: 0px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png') no-repeat center center/cover;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
input,textarea{
    /* width: 100%; */
    border: 2px solid red;
    padding: 5px;
    border-radius: 12px;
    margin: 10px;
    font-size: 20px;
}
textarea{
    display: flex;
}
.btn{
    padding: 12px 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 0px;
}
.btn:hover{
    color: black;
    background-color: white;
}
h3
{
    display: flex;
    text-align: center;
}
